<div class="center">
  <h1 class="title">Stupid Coaching</h1>

  <div class="question">
    <p class="message"><%= @question %></p>
    <p>- <em>You</em></p>
  </div>

  <div class="answer">
    <p class="message"><%= @answer %></p>
    <p>- <em>Your coach</em></p>
  </div>

  <br>
  <%= link_to "Ask another question", ask_path %>
</div>


