<div class="position">
  <h1 class="title">Stupid Coaching</h1>
  <form action="/answer" class="form-inline">
    <input type="text" name="question" class="form-control" placeholder="Ask your coach">
    <span class="input-group-btn">
      <input type="submit" value="Ask" class="btn btn-primary">
    </span>
  </form>
</div>



